body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:665px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:1px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:168px;
  width:6px;
  height:1px;
}
#u718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:500px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:137px;
  width:645px;
  height:500px;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:96px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:300px;
  height:95px;
}
#u720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:29px;
  width:170px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:20px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:87px;
  width:170px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:20px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:58px;
  width:161px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:96px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:20px;
  width:300px;
  height:95px;
}
#u724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:58px;
  width:154px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:87px;
  width:128px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:20px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:29px;
  width:145px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
