body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1607px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:37px;
}
#u5609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:21px;
}
#u5610 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:8px;
  width:2px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u5611 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:10px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:37px;
}
#u5612 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1040px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:37px;
}
#u5613 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:86px;
  width:1040px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u5614 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:60px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u5615 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:60px;
  width:19px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:474px;
}
#u5616 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:136px;
  width:1040px;
  height:473px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5617 {
  position:absolute;
  left:420px;
  top:711px;
}
#u5617_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:235px;
  height:72px;
  background-image:none;
}
#u5617_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u5618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
}
#u5619 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:27px;
  width:159px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u5620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:17px;
}
#u5620 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:160px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u5621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u5621 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:3px;
  width:12px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u5622 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:70px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u5623 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:156px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u5623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:29px;
}
#u5624 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:151px;
  width:100px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u5624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u5625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u5625 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:156px;
  width:13px;
  height:15px;
  font-size:12px;
}
#u5625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u5626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u5626 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:156px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u5626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u5627 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:156px;
  width:13px;
  height:15px;
  font-size:12px;
}
#u5627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u5628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u5628 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:490px;
  width:200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5628_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u5629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u5629 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:156px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u5629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5630 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:157px;
  width:74px;
  height:16px;
  font-size:12px;
}
#u5630_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u5630_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5631 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:157px;
  width:78px;
  height:16px;
  font-size:12px;
}
#u5631_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5631_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:403px;
}
#u5632 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:60px;
  width:300px;
  height:392px;
  color:#FF0000;
}
#u5632_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u5633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:16px;
}
#u5633 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:210px;
  width:289px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u5633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u5634 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:154px;
  width:100px;
  height:22px;
}
#u5634_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u5634_input:disabled {
  color:grayText;
}
