body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:37px;
}
#u8362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:21px;
}
#u8363 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:8px;
  width:2px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
}
#u8364 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:10px;
  width:73px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:37px;
}
#u8365 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1040px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:37px;
}
#u8366 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:86px;
  width:1040px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u8367 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:60px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u8368 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:60px;
  width:19px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:474px;
}
#u8369 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:173px;
  width:1040px;
  height:473px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:37px;
}
#u8370 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:136px;
  width:1040px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u8371 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:146px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u8372 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:146px;
  width:19px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8373 {
  position:absolute;
  left:420px;
  top:715px;
}
#u8373_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:235px;
  height:72px;
  background-image:none;
}
#u8373_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u8374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u8375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
}
#u8375 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:27px;
  width:159px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u8376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:17px;
}
#u8376 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:160px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u8377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u8377 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:3px;
  width:12px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u8378 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:70px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8379 {
  border-width:0px;
  position:absolute;
  left:1330px;
  top:0px;
  width:1281px;
  height:801px;
  overflow:hidden;
}
#u8379_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:801px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8379_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:801px;
}
#u8380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
  font-size:12px;
}
#u8380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:343px;
}
#u8381 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:145px;
  width:598px;
  height:342px;
  font-size:12px;
}
#u8381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u8382 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:145px;
  width:30px;
  height:30px;
  font-size:12px;
}
#u8382_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u8383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u8383 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:405px;
  width:100px;
  height:36px;
  font-size:12px;
  color:#FFFFFF;
}
#u8383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u8384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u8384 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:198px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u8384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:37px;
}
#u8385 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:189px;
  width:397px;
  height:36px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8385_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:393px;
  word-wrap:break-word;
}
#u8386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u8386 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:244px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u8386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:37px;
}
#u8387 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:235px;
  width:286px;
  height:36px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8387_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:282px;
  word-wrap:break-word;
}
#u8388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u8388 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:235px;
  width:100px;
  height:36px;
  font-size:12px;
  color:#FFFFFF;
}
#u8388_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u8389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u8389 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:290px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u8389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:37px;
}
#u8390 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:281px;
  width:397px;
  height:36px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8390_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:393px;
  word-wrap:break-word;
}
#u8391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u8391 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:336px;
  width:121px;
  height:15px;
  font-size:12px;
}
#u8391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u8392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:37px;
}
#u8392 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:327px;
  width:397px;
  height:36px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u8392_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:393px;
  word-wrap:break-word;
}
#u8393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u8394 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:290px;
  width:32px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u8395 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:295px;
  width:10px;
  height:9px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u8397 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:335px;
  width:32px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u8398 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:340px;
  width:10px;
  height:9px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u8399 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:228px;
  width:100px;
  height:36px;
  font-size:12px;
  color:#FFFFFF;
}
#u8399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u8400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u8400 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:268px;
  width:100px;
  height:36px;
  font-size:12px;
  color:#FFFFFF;
}
#u8400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u8401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u8401 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:245px;
  width:85px;
  height:17px;
  color:#FF0000;
}
#u8401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u8402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
}
#u8402 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:337px;
  width:99px;
  height:17px;
  color:#FF0000;
}
#u8402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u8403 {
  position:absolute;
  left:873px;
  top:340px;
}
#u8403_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
  background-image:none;
}
#u8403_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8405_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:311px;
  height:181px;
}
#u8405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u8405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8406_img {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-6px;
  width:311px;
  height:181px;
}
#u8406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u8406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u8407 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:65px;
  width:57px;
  height:17px;
}
#u8407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u8408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u8408 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:1px;
  width:30px;
  height:30px;
  font-size:20px;
}
#u8408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u8409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
}
#u8409 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:129px;
  width:70px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8409_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u8410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:19px;
}
#u8410 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:248px;
  width:102px;
  height:18px;
}
#u8410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u8411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:37px;
}
#u8411 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:237px;
  width:300px;
  height:36px;
  font-size:16px;
}
#u8411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u8412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:37px;
}
#u8412 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:474px;
  width:107px;
  height:36px;
  color:#FFFFFF;
}
#u8412_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u8413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
}
#u8413 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:379px;
  width:87px;
  height:18px;
}
#u8413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u8414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:37px;
}
#u8414 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:368px;
  width:300px;
  height:36px;
  font-size:16px;
}
#u8414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u8415 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:379px;
  width:59px;
  height:18px;
  color:#0099FF;
}
#u8415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u8416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u8416 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:407px;
  width:24px;
  height:18px;
  color:#0099FF;
}
#u8416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u8417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:19px;
}
#u8417 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:310px;
  width:131px;
  height:18px;
}
#u8417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u8418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:37px;
}
#u8418 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:299px;
  width:300px;
  height:36px;
  font-size:16px;
}
#u8418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u8419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:19px;
}
#u8419 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:308px;
  width:188px;
  height:18px;
  color:#FF0000;
}
#u8419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u8420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:19px;
}
#u8420 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:246px;
  width:188px;
  height:18px;
  color:#FF0000;
}
#u8420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u8421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u8421 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:414px;
  width:73px;
  height:18px;
  color:#FF0000;
}
#u8421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
