body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
}
#u3941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1280px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:17px;
}
#u3942 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:67px;
  width:191px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u3943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:660px;
}
#u3943 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:121px;
  width:800px;
  height:659px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:29px;
}
#u3944 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:140px;
  width:735px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u3944_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:731px;
  word-wrap:break-word;
}
#u3946 {
  position:absolute;
  left:541px;
  top:830px;
}
#u3946_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:232px;
  height:72px;
  background-image:none;
}
#u3946_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u3947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
}
#u3948 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:27px;
  width:159px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u3949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:17px;
}
#u3949 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:157px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u3950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u3950 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:3px;
  width:12px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u3951 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:70px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:221px;
}
#u3952 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:239px;
  width:734px;
  height:220px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u3952_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:730px;
  word-wrap:break-word;
}
#u3953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
}
#u3953 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:191px;
  width:114px;
  height:15px;
  font-size:12px;
}
#u3953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u3954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:2px;
}
#u3954 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:216px;
  width:735px;
  height:1px;
}
#u3954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u3955 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:191px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u3955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u3957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
  overflow:hidden;
}
#u3957_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 153, 255, 1);
  background-image:none;
}
#u3957_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u3958 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:14px;
  width:127px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u3959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u3959 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:8px;
  width:34px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u3960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u3960 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:17px;
  width:42px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u3961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:12px;
  width:26px;
  height:26px;
}
#u3961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:12px;
  width:26px;
  height:26px;
}
#u3962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:12px;
  width:24px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
