body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1280px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:17px;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:67px;
  width:191px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
  overflow:hidden;
}
#u2387_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 153, 255, 1);
  background-image:none;
}
#u2387_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:14px;
  width:127px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:8px;
  width:34px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2389_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  word-wrap:break-word;
}
#u2390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:17px;
  width:42px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:12px;
  width:26px;
  height:26px;
}
#u2391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:12px;
  width:26px;
  height:26px;
}
#u2392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:12px;
  width:24px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:823px;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:121px;
  width:800px;
  height:822px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:160px;
  width:43px;
  height:17px;
}
#u2395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:29px;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:155px;
  width:200px;
  height:28px;
  color:#999999;
  text-align:left;
}
#u2396_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u2397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:160px;
  width:44px;
  height:18px;
}
#u2397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:29px;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:155px;
  width:200px;
  height:28px;
  color:#999999;
  text-align:left;
}
#u2398_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u2399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:222px;
  width:59px;
  height:18px;
}
#u2399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:29px;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:217px;
  width:200px;
  height:28px;
  color:#999999;
  text-align:left;
}
#u2400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u2401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:288px;
  width:73px;
  height:18px;
}
#u2401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:29px;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:283px;
  width:661px;
  height:28px;
  color:#999999;
  text-align:left;
}
#u2402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:657px;
  word-wrap:break-word;
}
#u2403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:161px;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:252px;
  width:150px;
  height:150px;
  color:#FF0000;
}
#u2403_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u2404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:345px;
  width:61px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:410px;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:371px;
  width:707px;
  height:410px;
}
#u2405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:42px;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:383px;
  width:300px;
  height:41px;
}
#u2406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:389px;
  width:30px;
  height:30px;
  font-size:16px;
}
#u2407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:391px;
  width:242px;
  height:25px;
}
#u2408_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:338px;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:424px;
  width:300px;
  height:338px;
}
#u2409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:37px;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:874px;
  width:200px;
  height:36px;
  color:#FFFFFF;
}
#u2410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u2412 {
  position:absolute;
  left:525px;
  top:1000px;
}
#u2412_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:232px;
  height:72px;
  background-image:none;
}
#u2412_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:27px;
  width:159px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u2415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:17px;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:157px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u2416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:3px;
  width:12px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:70px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
