body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1607px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:37px;
}
#u5828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:21px;
}
#u5829 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:8px;
  width:2px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u5830 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:10px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:37px;
}
#u5831 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1040px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:37px;
}
#u5832 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:86px;
  width:1040px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u5833 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:60px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u5834 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:60px;
  width:19px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:474px;
}
#u5835 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:136px;
  width:1040px;
  height:473px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5836 {
  position:absolute;
  left:420px;
  top:711px;
}
#u5836_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:235px;
  height:72px;
  background-image:none;
}
#u5836_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u5837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
}
#u5838 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:27px;
  width:159px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u5839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:17px;
}
#u5839 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:160px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u5840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u5840 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:3px;
  width:12px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u5841 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:70px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u5842 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:156px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u5842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u5843 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:490px;
  width:200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u5844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:403px;
}
#u5844 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:60px;
  width:300px;
  height:392px;
  color:#FF0000;
}
#u5844_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u5845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u5845 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:203px;
  width:28px;
  height:15px;
  font-size:12px;
}
#u5845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u5846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:75px;
}
#u5846 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:264px;
  width:361px;
  height:74px;
  font-size:12px;
  color:#FF0000;
}
#u5846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u5847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:29px;
}
#u5847 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:196px;
  width:130px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:126px;
  word-wrap:break-word;
}
#u5848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u5849 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:203px;
  width:20px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
}
#u5850 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:201px;
  width:1px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
}
#u5851 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:201px;
  width:1px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
}
#u5852 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:201px;
  width:1px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
}
#u5853 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:208px;
  width:6px;
  height:9px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:10px;
}
#u5854 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:208px;
  width:5px;
  height:9px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
