body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
}
#u8012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1280px;
  height:50px;
}
#u8012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:17px;
}
#u8013 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:67px;
  width:239px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u8013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u8015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
  overflow:hidden;
}
#u8015_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 153, 255, 1);
  background-image:none;
}
#u8015_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u8016 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:14px;
  width:127px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u8017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u8017 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:8px;
  width:34px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u8017_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u8018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u8018 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:17px;
  width:42px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u8019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u8019 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:12px;
  width:26px;
  height:26px;
}
#u8019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u8020 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:12px;
  width:26px;
  height:26px;
}
#u8020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u8021 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:12px;
  width:24px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:1275px;
}
#u8022 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:151px;
  width:800px;
  height:1274px;
  font-size:14px;
}
#u8022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
}
#u8023 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:169px;
  width:115px;
  height:28px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u8024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
}
#u8024 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:169px;
  width:115px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u8025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
}
#u8025 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:169px;
  width:115px;
  height:28px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8025_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u8026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u8026 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:175px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u8026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u8027 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:175px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u8027_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u8028 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:175px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u8028_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:16px;
}
#u8029 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:415px;
  width:278px;
  height:15px;
  font-size:12px;
}
#u8029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u8030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:16px;
}
#u8030 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:356px;
  width:265px;
  height:15px;
  font-size:12px;
}
#u8030_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u8031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:29px;
}
#u8031 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:229px;
  width:137px;
  height:28px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8031_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u8032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u8032 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:235px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u8032_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:29px;
}
#u8033 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:229px;
  width:141px;
  height:28px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8033_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u8034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u8034 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:235px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u8034_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:29px;
}
#u8035 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:230px;
  width:134px;
  height:28px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8035_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u8036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u8036 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:235px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u8036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:29px;
}
#u8037 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:289px;
  width:137px;
  height:28px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8037_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u8038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u8038 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:295px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u8038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:29px;
}
#u8039 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:289px;
  width:137px;
  height:28px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8039_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u8040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u8040 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:295px;
  width:73px;
  height:15px;
  font-size:12px;
}
#u8040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u8041 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:289px;
  width:93px;
  height:28px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u8041_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u8042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u8042 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:295px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u8042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u8043 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:719px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u8043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:450px;
}
#u8044 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:746px;
  width:762px;
  height:449px;
}
#u8044_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:758px;
  word-wrap:break-word;
}
#u8045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u8045 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:1134px;
  width:200px;
  height:40px;
  font-size:12px;
}
#u8045_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:196px;
  word-wrap:break-word;
}
#u8047 {
  position:absolute;
  left:554px;
  top:1435px;
}
#u8047_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:232px;
  height:72px;
  background-image:none;
}
#u8047_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u8048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u8049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
}
#u8049 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:27px;
  width:159px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u8050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:17px;
}
#u8050 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:157px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u8051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u8051 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:3px;
  width:12px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u8052 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:70px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u8053 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:505px;
  width:300px;
  height:170px;
  font-size:12px;
}
#u8053_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:296px;
  word-wrap:break-word;
}
#u8054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u8054 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:505px;
  width:300px;
  height:170px;
  font-size:12px;
}
#u8054_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:296px;
  word-wrap:break-word;
}
#u8055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u8055 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:478px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u8055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8056 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:1225px;
  width:97px;
  height:14px;
  font-size:12px;
  color:#0099FF;
}
#u8056_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u8056_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
}
#u8057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u8057 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:1273px;
  width:200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8057_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u8058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u8058 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:1273px;
  width:200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8058_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
