body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1355px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u6222 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:153px;
  width:49px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u6222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:38px;
}
#u6223 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:185px;
  width:187px;
  height:37px;
}
#u6223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:183px;
  word-wrap:break-word;
}
#u6224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:38px;
}
#u6224 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:185px;
  width:267px;
  height:37px;
}
#u6224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:263px;
  word-wrap:break-word;
}
#u6225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:38px;
}
#u6225 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:185px;
  width:187px;
  height:37px;
}
#u6225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:183px;
  word-wrap:break-word;
}
#u6226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:38px;
}
#u6226 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:185px;
  width:267px;
  height:37px;
}
#u6226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:263px;
  word-wrap:break-word;
}
#u6227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:38px;
}
#u6227 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:222px;
  width:187px;
  height:37px;
}
#u6227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:183px;
  word-wrap:break-word;
}
#u6228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:38px;
}
#u6228 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:222px;
  width:267px;
  height:37px;
}
#u6228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:263px;
  word-wrap:break-word;
}
#u6229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:38px;
}
#u6229 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:222px;
  width:187px;
  height:37px;
}
#u6229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:183px;
  word-wrap:break-word;
}
#u6230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:38px;
}
#u6230 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:222px;
  width:267px;
  height:37px;
}
#u6230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:263px;
  word-wrap:break-word;
}
#u6231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6231 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:324px;
  width:293px;
  height:37px;
}
#u6231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6232 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:324px;
  width:293px;
  height:37px;
}
#u6232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6233 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:324px;
  width:293px;
  height:37px;
}
#u6233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6234 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:361px;
  width:293px;
  height:37px;
}
#u6234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6235 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:361px;
  width:293px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:289px;
  word-wrap:break-word;
}
#u6236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6236 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:361px;
  width:293px;
  height:37px;
}
#u6236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
}
#u6237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1280px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:17px;
}
#u6238 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:67px;
  width:187px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u6239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6239 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:398px;
  width:293px;
  height:37px;
}
#u6239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6240 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:398px;
  width:293px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:289px;
  word-wrap:break-word;
}
#u6241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6241 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:398px;
  width:293px;
  height:37px;
}
#u6241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6242 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:435px;
  width:293px;
  height:37px;
}
#u6242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6243 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:435px;
  width:293px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:289px;
  word-wrap:break-word;
}
#u6244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6244 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:435px;
  width:293px;
  height:37px;
}
#u6244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6245 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:472px;
  width:293px;
  height:37px;
}
#u6245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6246 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:472px;
  width:293px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:289px;
  word-wrap:break-word;
}
#u6247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6247 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:472px;
  width:293px;
  height:37px;
}
#u6247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6248 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:509px;
  width:293px;
  height:37px;
}
#u6248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6249 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:509px;
  width:293px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:289px;
  word-wrap:break-word;
}
#u6250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6250 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:509px;
  width:293px;
  height:37px;
}
#u6250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6251 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:546px;
  width:293px;
  height:37px;
}
#u6251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6252 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:546px;
  width:293px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:289px;
  word-wrap:break-word;
}
#u6253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6253 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:546px;
  width:293px;
  height:37px;
}
#u6253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6254 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:583px;
  width:293px;
  height:37px;
}
#u6254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6255 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:583px;
  width:293px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:289px;
  word-wrap:break-word;
}
#u6256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6256 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:583px;
  width:293px;
  height:37px;
}
#u6256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6257 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:620px;
  width:293px;
  height:37px;
}
#u6257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6258 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:620px;
  width:293px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:289px;
  word-wrap:break-word;
}
#u6259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6259 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:620px;
  width:293px;
  height:37px;
}
#u6259_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6260 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:657px;
  width:293px;
  height:37px;
}
#u6260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6261 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:657px;
  width:293px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6261_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:289px;
  word-wrap:break-word;
}
#u6262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6262 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:657px;
  width:293px;
  height:37px;
}
#u6262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6263 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:694px;
  width:293px;
  height:37px;
}
#u6263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6264 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:694px;
  width:293px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6264_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:289px;
  word-wrap:break-word;
}
#u6265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:38px;
}
#u6265 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:694px;
  width:293px;
  height:37px;
}
#u6265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:289px;
  word-wrap:break-word;
}
#u6266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u6266 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:749px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u6267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u6267 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:749px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u6268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u6268 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:749px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u6269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u6269 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:749px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u6270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u6270 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:749px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u6271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u6271 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:749px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u6272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u6272 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:749px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u6273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u6273 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:749px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6273_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u6274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u6274 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:749px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6274_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u6275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
}
#u6275 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:759px;
  width:105px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u6276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u6276 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:759px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u6277 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:749px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6277_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u6278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
}
#u6278 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:759px;
  width:13px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u6280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
  overflow:hidden;
}
#u6280_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 153, 255, 1);
  background-image:none;
}
#u6280_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u6281 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:14px;
  width:127px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u6282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u6282 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:8px;
  width:34px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6282_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u6283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u6283 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:17px;
  width:42px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u6284 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:12px;
  width:26px;
  height:26px;
}
#u6284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u6285 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:12px;
  width:26px;
  height:26px;
}
#u6285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u6286 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:12px;
  width:24px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6286_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:38px;
}
#u6287 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:361px;
  width:30px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6287_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u6288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:38px;
}
#u6288 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:398px;
  width:30px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6288_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u6289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:38px;
}
#u6289 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:435px;
  width:30px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6289_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u6290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:38px;
}
#u6290 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:472px;
  width:30px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6290_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u6291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:38px;
}
#u6291 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:509px;
  width:30px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6291_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u6292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:38px;
}
#u6292 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:546px;
  width:30px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6292_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u6293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:38px;
}
#u6293 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:583px;
  width:30px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6293_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u6294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:38px;
}
#u6294 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:620px;
  width:30px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6294_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u6295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:38px;
}
#u6295 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:657px;
  width:30px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6295_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u6296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:38px;
}
#u6296 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:694px;
  width:30px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6296_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u6297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:38px;
}
#u6297 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:324px;
  width:30px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6297_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u6298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:29px;
}
#u6298 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:286px;
  width:138px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6298_img.mouseOver {
}
#u6298.mouseOver {
}
#u6298_img.selected {
}
#u6298.selected {
}
#u6298_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u6299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:29px;
}
#u6299 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:286px;
  width:138px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6299_img.mouseOver {
}
#u6299.mouseOver {
}
#u6299_img.selected {
}
#u6299.selected {
}
#u6299_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u6300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:29px;
}
#u6300 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:286px;
  width:138px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6300_img.mouseOver {
}
#u6300.mouseOver {
}
#u6300_img.selected {
}
#u6300.selected {
}
#u6300_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u6302 {
  position:absolute;
  left:570px;
  top:878px;
}
#u6302_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:232px;
  height:72px;
  background-image:none;
}
#u6302_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u6303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6303_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
}
#u6304 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:27px;
  width:159px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6304_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u6305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:17px;
}
#u6305 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:157px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6305_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u6306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u6306 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:3px;
  width:12px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6306_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u6307 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:70px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:307px;
}
#u6308 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:324px;
  width:200px;
  height:296px;
  color:#FF0000;
}
#u6308_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
