body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1289px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:472px;
}
#u2115 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:172px;
  width:1040px;
  height:471px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:37px;
}
#u2116 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:136px;
  width:1040px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u2117 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:146px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u2118 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:146px;
  width:19px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
}
#u2119 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:208px;
  width:42px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u2120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u2120 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:172px;
  width:67px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u2121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
}
#u2121 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:244px;
  width:42px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u2122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u2122 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:208px;
  width:67px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u2122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
}
#u2123 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:280px;
  width:42px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u2124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u2124 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:244px;
  width:67px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u2124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
}
#u2125 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:316px;
  width:42px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u2126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u2126 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:280px;
  width:67px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u2126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
}
#u2127 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:352px;
  width:42px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u2128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u2128 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:316px;
  width:67px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u2128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
}
#u2129 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:388px;
  width:42px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u2130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u2130 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:352px;
  width:67px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u2130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
}
#u2131 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:424px;
  width:42px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u2132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u2132 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:388px;
  width:67px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u2132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
}
#u2133 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:460px;
  width:42px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u2134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u2134 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:424px;
  width:67px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u2134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
}
#u2135 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:496px;
  width:42px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u2136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u2136 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:460px;
  width:67px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u2136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:532px;
  width:42px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u2138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:496px;
  width:67px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u2138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:37px;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:532px;
  width:67px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u2139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:588px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u2141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:588px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u2142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:588px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u2143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:588px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u2144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:588px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u2145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:588px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u2146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:588px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u2147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:588px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u2148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:588px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u2149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:37px;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:172px;
  width:42px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u2150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:598px;
  width:105px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u2151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:598px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:588px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u2153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:598px;
  width:13px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u2154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1081px;
  height:37px;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:21px;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:8px;
  width:2px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:10px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2157 {
  position:absolute;
  left:423px;
  top:694px;
}
#u2157_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:235px;
  height:72px;
  background-image:none;
}
#u2157_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:17px;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:27px;
  width:158px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u2160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:17px;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:160px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u2161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:3px;
  width:12px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:70px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:218px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#0099FF;
  text-align:center;
}
#u2163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:255px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#0099FF;
  text-align:center;
}
#u2164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:291px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#0099FF;
  text-align:center;
}
#u2165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:327px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#0099FF;
  text-align:center;
}
#u2166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:363px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#0099FF;
  text-align:center;
}
#u2167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:399px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#0099FF;
  text-align:center;
}
#u2168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:435px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#0099FF;
  text-align:center;
}
#u2169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:471px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#0099FF;
  text-align:center;
}
#u2170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:507px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#0099FF;
  text-align:center;
}
#u2171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:543px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#0099FF;
  text-align:center;
}
#u2172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:140px;
  width:70px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:172px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:208px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:244px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:280px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:316px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:352px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:388px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:424px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:460px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:496px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:532px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:37px;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:1040px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:37px;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:86px;
  width:1040px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:60px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:60px;
  width:18px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:90px;
  width:70px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:96px;
  width:37px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:93px;
  width:100px;
  height:22px;
}
#u2191_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2191_input:disabled {
  color:grayText;
}
#u2192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:37px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:208px;
  width:30px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:37px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:244px;
  width:30px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:37px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:280px;
  width:30px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:37px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:316px;
  width:30px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:37px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:352px;
  width:30px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:37px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:388px;
  width:30px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:37px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:424px;
  width:30px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:37px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:460px;
  width:30px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:37px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:496px;
  width:30px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:37px;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:532px;
  width:30px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:37px;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:172px;
  width:30px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:182px;
  width:19px;
  height:16px;
}
#u2203_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:218px;
  width:19px;
  height:16px;
}
#u2204_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:254px;
  width:19px;
  height:16px;
}
#u2205_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:290px;
  width:19px;
  height:16px;
}
#u2206_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:326px;
  width:19px;
  height:16px;
}
#u2207_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:362px;
  width:19px;
  height:16px;
}
#u2208_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:398px;
  width:19px;
  height:16px;
}
#u2209_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:434px;
  width:19px;
  height:16px;
}
#u2210_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:470px;
  width:19px;
  height:16px;
}
#u2211_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:506px;
  width:19px;
  height:16px;
}
#u2212_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2212_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:542px;
  width:19px;
  height:16px;
}
#u2213_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:172px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:208px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:244px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:280px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:316px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:352px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:388px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:424px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:460px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:496px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:532px;
  width:119px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:172px;
  width:150px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:208px;
  width:150px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:244px;
  width:150px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:280px;
  width:150px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:316px;
  width:150px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:352px;
  width:150px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:388px;
  width:150px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:424px;
  width:150px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:460px;
  width:150px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:496px;
  width:150px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:37px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:532px;
  width:150px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u2236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:172px;
  width:100px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:208px;
  width:100px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:244px;
  width:100px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:280px;
  width:100px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:316px;
  width:100px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:352px;
  width:100px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:388px;
  width:100px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:424px;
  width:100px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:460px;
  width:100px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:496px;
  width:100px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2246 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:532px;
  width:100px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:37px;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:172px;
  width:413px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u2248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:37px;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:208px;
  width:413px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u2249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:37px;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:244px;
  width:413px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u2250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:37px;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:280px;
  width:413px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u2251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:37px;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:316px;
  width:413px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u2252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:37px;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:352px;
  width:413px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u2253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:37px;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:388px;
  width:413px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u2254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:37px;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:424px;
  width:413px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u2255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:37px;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:460px;
  width:413px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u2256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:37px;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:496px;
  width:413px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u2257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:37px;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:532px;
  width:413px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u2258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:371px;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:208px;
  width:200px;
  height:360px;
  font-size:14px;
  color:#FF0000;
}
#u2258_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
