body {
  margin:0px;
  background-color:rgba(0, 153, 255, 1);
  background-image:none;
  position:relative;
  left:-398px;
  width:343px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:296px;
  width:43px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:36px;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:287px;
  width:300px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u548_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:341px;
  width:43px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u549_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:36px;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:332px;
  width:300px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u550_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:425px;
  width:200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
}
#u551_img.mouseOver {
}
#u551.mouseOver {
}
#u551_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:38px;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:193px;
  width:197px;
  height:37px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:377px;
  width:59px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u553_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
