body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:2094px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
}
#u3696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1280px;
  height:50px;
}
#u3696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
}
#u3697 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:67px;
  width:187px;
  height:15px;
  font-size:12px;
}
#u3697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u3698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:858px;
}
#u3698 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:121px;
  width:800px;
  height:857px;
  font-size:14px;
}
#u3698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u3699 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:146px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u3699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u3700 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:141px;
  width:128px;
  height:28px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u3700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u3701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u3701 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:146px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u3701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u3702 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:263px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u3702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:29px;
}
#u3703 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:140px;
  width:109px;
  height:28px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u3703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u3704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:179px;
}
#u3704 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:288px;
  width:764px;
  height:178px;
  text-align:left;
}
#u3704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:177px;
}
#u3705 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:298px;
  width:743px;
  height:176px;
  font-size:12px;
}
#u3705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  word-wrap:break-word;
}
#u3706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u3706 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:885px;
  width:200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3706_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u3707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u3707 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:146px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u3707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:29px;
}
#u3708 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:140px;
  width:131px;
  height:28px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u3708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:127px;
  word-wrap:break-word;
}
#u3710 {
  position:absolute;
  left:525px;
  top:1020px;
}
#u3710_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:232px;
  height:72px;
  background-image:none;
}
#u3710_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u3711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
}
#u3712 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:27px;
  width:159px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u3713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:17px;
}
#u3713 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:157px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u3714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u3714 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:3px;
  width:12px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u3715 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:70px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u3716 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:205px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u3716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:29px;
}
#u3717 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:200px;
  width:703px;
  height:28px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u3717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:699px;
  word-wrap:break-word;
}
#u3718 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:516px;
  width:100px;
  height:16px;
}
#u3718_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3718_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3719 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:516px;
  width:100px;
  height:16px;
}
#u3719_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3719_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3720 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:516px;
  width:100px;
  height:16px;
}
#u3720_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3720_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3721 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:516px;
  width:100px;
  height:16px;
}
#u3721_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3721_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3722 {
  position:absolute;
  left:1330px;
  top:580px;
}
#u3722_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:765px;
  height:204px;
  background-image:none;
}
#u3722_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u3723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u3723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:179px;
}
#u3724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:764px;
  height:178px;
  color:#CCCCCC;
  text-align:left;
}
#u3724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:760px;
  word-wrap:break-word;
}
#u3725 {
  position:absolute;
  left:1330px;
  top:292px;
}
#u3725_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
  background-image:none;
}
#u3725_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u3726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u3726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u3727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:35px;
}
#u3727 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:125px;
  width:137px;
  height:34px;
  color:#FFFFFF;
}
#u3727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:133px;
  word-wrap:break-word;
}
#u3728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:642px;
}
#u3728 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:128px;
  width:230px;
  height:631px;
  color:#FF0000;
}
#u3728_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:210px;
  word-wrap:break-word;
}
#u3729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:280px;
}
#u3729 {
  border-width:0px;
  position:absolute;
  left:1400px;
  top:23px;
  width:230px;
  height:269px;
  color:#FF0000;
}
#u3729_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:210px;
  word-wrap:break-word;
}
#u3730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:18px;
}
#u3730 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:819px;
  width:253px;
  height:17px;
}
#u3730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u3732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
  overflow:hidden;
}
#u3732_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 153, 255, 1);
  background-image:none;
}
#u3732_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u3733 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:14px;
  width:127px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u3734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u3734 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:8px;
  width:34px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3734_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  word-wrap:break-word;
}
#u3735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u3735 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:17px;
  width:42px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u3736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u3736 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:12px;
  width:26px;
  height:26px;
}
#u3736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u3737 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:12px;
  width:26px;
  height:26px;
}
#u3737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u3738 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:12px;
  width:24px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3738_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3739 {
  position:absolute;
  left:1050px;
  top:755px;
}
#u3739_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
  background-image:none;
}
#u3739_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3741_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:311px;
  height:181px;
}
#u3741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u3741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3742_img {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-6px;
  width:311px;
  height:181px;
}
#u3742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u3742_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u3743 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:46px;
  width:57px;
  height:17px;
}
#u3743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:18px;
}
#u3744 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:86px;
  width:116px;
  height:17px;
}
#u3744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u3745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u3745 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:1px;
  width:30px;
  height:30px;
  font-size:20px;
}
#u3745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u3746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
}
#u3746 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:129px;
  width:70px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3746_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
