body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
  overflow:hidden;
}
#u4928_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 153, 255, 1);
  background-image:none;
}
#u4928_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u4929 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:14px;
  width:127px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4929_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u4930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4930 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:8px;
  width:34px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u4930_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u4931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u4931 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:17px;
  width:42px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u4932 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:12px;
  width:26px;
  height:26px;
}
#u4932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u4933 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:12px;
  width:26px;
  height:26px;
}
#u4933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u4934 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:12px;
  width:24px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
}
#u4935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1280px;
  height:50px;
}
#u4935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:17px;
}
#u4936 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:67px;
  width:254px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4936_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u4937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:1083px;
}
#u4937 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:121px;
  width:800px;
  height:1082px;
  font-size:14px;
}
#u4937_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4939 {
  position:absolute;
  left:524px;
  top:1269px;
}
#u4939_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:232px;
  height:72px;
  background-image:none;
}
#u4939_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u4940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4940_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u4941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
}
#u4941 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:27px;
  width:159px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u4942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:17px;
}
#u4942 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:157px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u4943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u4943 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:3px;
  width:12px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u4944 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:70px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4945 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:158px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4945_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4946 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:158px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4946_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4947 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:158px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4947_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4948 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:158px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4948_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4949 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:158px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4949_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u4950 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:158px;
  width:99px;
  height:28px;
  font-size:10px;
}
#u4950_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u4951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4951 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:186px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4951_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4952 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:186px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4952_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4953 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:186px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4953_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4954 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:186px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4955 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:186px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4955_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u4956 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:186px;
  width:99px;
  height:28px;
  font-size:10px;
  color:#FF0000;
}
#u4956_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u4957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4957 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:214px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4957_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4958 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:214px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4958_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4959 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:214px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4960 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:214px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4960_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4961 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:214px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4961_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u4962 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:214px;
  width:99px;
  height:28px;
  font-size:10px;
  color:#FF0000;
}
#u4962_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u4963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4963 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:158px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4963_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4964 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:186px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4964_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4965 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:214px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4965_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:29px;
}
#u4966 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:158px;
  width:122px;
  height:28px;
  font-size:10px;
}
#u4966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u4967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:29px;
}
#u4967 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:186px;
  width:122px;
  height:28px;
  font-size:10px;
}
#u4967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u4968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:29px;
}
#u4968 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:214px;
  width:122px;
  height:28px;
  font-size:10px;
}
#u4968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u4969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
}
#u4969 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:130px;
  width:61px;
  height:14px;
  font-size:12px;
}
#u4969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u4970 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:486px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u4971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u4971 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:486px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u4972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u4972 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:486px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u4973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u4973 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:486px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u4974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u4974 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:486px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u4975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u4975 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:486px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u4976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u4976 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:486px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u4977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u4977 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:486px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u4978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u4978 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:486px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4978_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u4979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
}
#u4979 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:496px;
  width:105px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u4980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u4980 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:496px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:37px;
}
#u4981 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:486px;
  width:28px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u4982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
}
#u4982 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:496px;
  width:13px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u4983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4983 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:242px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4984 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:242px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4985 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:242px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4986 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:242px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4987 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:242px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u4988 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:242px;
  width:99px;
  height:28px;
  font-size:10px;
  color:#FF0000;
}
#u4988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u4989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4989 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:242px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:29px;
}
#u4990 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:242px;
  width:122px;
  height:28px;
  font-size:10px;
}
#u4990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u4991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4991 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:270px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4992 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:270px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4993 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:270px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4994 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:270px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4995 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:270px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u4996 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:270px;
  width:99px;
  height:28px;
  font-size:10px;
  color:#FF0000;
}
#u4996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u4997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4997 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:298px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4998 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:298px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u4999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u4999 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:298px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u4999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5000 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:298px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5001 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:298px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u5002 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:298px;
  width:99px;
  height:28px;
  font-size:10px;
  color:#FF0000;
}
#u5002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u5003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5003 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:270px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5004 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:298px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:29px;
}
#u5005 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:270px;
  width:122px;
  height:28px;
  font-size:10px;
}
#u5005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u5006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:29px;
}
#u5006 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:298px;
  width:122px;
  height:28px;
  font-size:10px;
}
#u5006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u5007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5007 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:326px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5008 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:326px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5009 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:326px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5010 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:326px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5010_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5011 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:326px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u5012 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:326px;
  width:99px;
  height:28px;
  font-size:10px;
  color:#FF0000;
}
#u5012_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u5013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5013 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:326px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:29px;
}
#u5014 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:326px;
  width:122px;
  height:28px;
  font-size:10px;
}
#u5014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u5015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5015 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:354px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5016 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:354px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5016_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5017 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:354px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5017_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5018 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:354px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5018_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5019 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:354px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5019_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u5020 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:354px;
  width:99px;
  height:28px;
  font-size:10px;
  color:#FF0000;
}
#u5020_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u5021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5021 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:354px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5021_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:29px;
}
#u5022 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:354px;
  width:122px;
  height:28px;
  font-size:10px;
}
#u5022_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u5023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5023 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:382px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5024 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:382px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5025 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:382px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5025_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5026 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:382px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5026_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5027 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:382px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5027_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u5028 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:382px;
  width:99px;
  height:28px;
  font-size:10px;
  color:#FF0000;
}
#u5028_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u5029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5029 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:410px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5029_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5030 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:410px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5030_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5031 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:410px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5031_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5032 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:410px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5032_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5033 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:410px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5033_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u5034 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:410px;
  width:99px;
  height:28px;
  font-size:10px;
  color:#FF0000;
}
#u5034_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u5035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5035 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:382px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5035_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5036 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:410px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5036_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:29px;
}
#u5037 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:382px;
  width:122px;
  height:28px;
  font-size:10px;
}
#u5037_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u5038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:29px;
}
#u5038 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:410px;
  width:122px;
  height:28px;
  font-size:10px;
}
#u5038_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u5039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5039 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:438px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5039_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5040 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:438px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5040_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5041 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:438px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5041_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5042 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:438px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5042_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5043 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:438px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5043_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u5044 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:438px;
  width:99px;
  height:28px;
  font-size:10px;
  color:#FF0000;
}
#u5044_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u5045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u5045 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:438px;
  width:95px;
  height:28px;
  font-size:10px;
}
#u5045_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u5046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:29px;
}
#u5046 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:438px;
  width:122px;
  height:28px;
  font-size:10px;
}
#u5046_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u5047 {
  position:absolute;
  left:258px;
  top:575px;
}
#u5047_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:763px;
  height:477px;
  background-image:none;
}
#u5047_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u5048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:14px;
  font-size:12px;
}
#u5048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:450px;
}
#u5049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:762px;
  height:449px;
  text-align:left;
}
#u5049_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:758px;
  word-wrap:break-word;
}
#u5050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
}
#u5050 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:125px;
  width:70px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5050_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u5051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u5051 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:134px;
  width:10px;
  height:10px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
