body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:442px;
}
#u6305 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:122px;
  width:922px;
  height:441px;
}
#u6305_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:29px;
}
#u6306 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:290px;
  width:225px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u6306_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:221px;
  word-wrap:break-word;
}
#u6307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u6307 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:297px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u6307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:29px;
}
#u6308 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:159px;
  width:122px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u6308_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u6309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u6309 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:166px;
  width:13px;
  height:15px;
  font-size:12px;
}
#u6309_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u6310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u6310 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:297px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u6310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:29px;
}
#u6311 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:290px;
  width:227px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6311_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:223px;
  word-wrap:break-word;
}
#u6312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:29px;
}
#u6312 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:160px;
  width:228px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u6312_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:224px;
  word-wrap:break-word;
}
#u6313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u6313 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:167px;
  width:73px;
  height:15px;
  font-size:12px;
}
#u6313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
  overflow:hidden;
}
#u6315_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 153, 255, 1);
  background-image:none;
}
#u6315_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u6316 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:14px;
  width:127px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6316_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u6317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u6317 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:8px;
  width:34px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6317_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u6318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u6318 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:17px;
  width:42px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u6319 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:12px;
  width:26px;
  height:26px;
}
#u6319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u6320 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:12px;
  width:26px;
  height:26px;
}
#u6320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u6321 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:12px;
  width:24px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:51px;
}
#u6322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1280px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:17px;
}
#u6323 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:67px;
  width:212px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u6324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u6324 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:166px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u6324_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:29px;
}
#u6325 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:221px;
  width:227px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6325_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:223px;
  word-wrap:break-word;
}
#u6326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u6326 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:228px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u6326_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:29px;
}
#u6327 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:221px;
  width:227px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6327_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:223px;
  word-wrap:break-word;
}
#u6328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u6328 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:228px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u6328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
